{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>Name</th>
            <th>Dob</th>
            <th>Address</th>
            <th>Designation</th>
            <th>Employee number</th>
            <th>Salary</th>
            <th>Experiance</th>
            <th>Department</th>
            <th>Past experiance</th>
            <th>Previous join date</th>
            <th>Previous leave date</th>
        </tr>
        {% for ol in emp %}
        <tr>
            <th>{{ol.name}}</th>
            <th>{{ol.dob}}</th>
            <th>{{ol.address}}</th>
            <th>{{ol.designation}}</th>
            <th>{{ol.empnumber}}</th>
            <th>{{ol.salary}}</th>
            <th>{{ol.experiance}}</th>
            <th>{{ol.department}}</th>
            <th>{{ol.pastexp}}</th>
            <th>{{ol.prevjoin}}</th>
            <th>{{ol.prevleave}}</th>
        </tr>
        {% endfor %}
    </table>
</body>
</html>