:root{
    --text: #140821;
    --textsecond: #616161;
    --background: #edeaf0;
    --primary: #F8D249;
    --secondary: #e5d6f5;
    --accent: #E9CB72;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
    width: 100vw;
    height: auto;
    background-color: var(--background);
    overflow-x: hidden;
}


.form_wrapper{
    position: relative;
    width: 100%;
    row-gap: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box{
    position: absolute;
    height: 600px;
    width: 600px;
    background-color: #e9cb72ae;
    bottom: -400px;
    left: -300px;
    transform: rotate(35deg);
    z-index: 0;
}
.box2{
    position: absolute;
    height: 600px;
    width: 600px;
    background-color: #e9cb726d;
    top: -500px;
    right: -350px;
    transform: rotate(35deg);
    z-index: 0;
}


.form_left{
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 50px;
    height: 100%;
    justify-content: flex-start;
    margin-top: 50px;
}
.text{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.text h4{
    font-weight: 300;
}
.sections{
    display: flex;
    flex-direction: column;
}
.sections div{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.sections div h3{
    font-weight: 300;
}

.circle{
    width: 7px;
    border-radius: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(180, 180, 180, 0.245);
}

.circle i{
    color: var(--background);
}

.active .circle{
    background-color: var(--accent);
}

.active h3 {
    font-weight: 500 !important;
}

.form_right{
    flex-basis: 70%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.form{
    width: 43%;
    padding: 20px;
    height: 80%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: white;
}

.form_step{
    flex-basis: 90%;
}
.form_step h2{
    margin-bottom: 10px;
    color: black;
}
.btns{
    flex-basis: 10%;
}

.form_step.active{
    display: block;
}

.form_step{
    display: none;
}

.btns{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    align-items: center;
    justify-content: space-around;
    margin-top: 2em;
}

.btns button{
    background-color: var(--accent);
    border: none;
    width: 100px;
    height: 30px;
    display: block;
    border-radius: 30px;
    cursor: pointer;
    color: var(--text);
    font-family: 'Poppins';
    font-weight: 500;
}

.ast{
    color: rgb(217, 28, 28);
}

.main_sep{
    margin-bottom: 10px;
}

.text_btn{
    display: block;
    font-weight: 200;
}
.text_btn.invis{
    display: none;
}
.next_btn.invis{
    display: none;
}
.prev_btn.invis{
    display: none;
}
.sub_btn.invis{
    display: none;
}

textarea{
    resize: none;
    font-family: 'Poppins';
}

input[type="text"]{
    width: 200px;
    height: 30px;
    margin: 15px 15px 15px 0;
    border: 1px solid #14082169;
    border-radius: 2px;
    padding: 5px;
}

.past_exp{
    display: block;
}

.bigcircle{
    position: absolute;
    height: 300px;
    width: 300px;
    
}

.past_exp.unchecked{
    display: none;
}